{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'account/css/style.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title> SketchSynth | Controlnet-Canny Edge Detection </title>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body style="background-color:#182538">
    <div class="container mx-auto p-4">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
            <div class="bg-gray-900 p-4 text-white">
                <div class="flex items-center justify-between">
                    <h1 class="text-lg font-bold"> sketch-synth | by mashud-ul-hassan </h1>
                    <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-4 rounded">
                        {% if user.is_authenticated %}
                        <a href="{% url 'profile-view' user.id %}">Hello, {{ user.username }}!</a>
                        {% endif %}
                    </button>
                    <!-- <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-4 rounded"> beta </button> -->
                </div>
                <p class="text-sm mt-1"> Modify images using canny edge detection </p>
                <div class="flex items-center space-x-2 text-xs mt-2">
                    <span class="bg-green-500 text-white py-1 px-2 rounded-full"> Tools used 🚀</span>
                    <span> Python > Django > StableDiffusion </span>
                </div>
            </div>
            <div class="p-4" style="background-color: #5b6678;">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class="p-2">
                        <form class="text-gray-100" method="post" id="uploadForm" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}

                            <input id="submitBtn" type="submit" class="hidden">
                        </form>
                    </div>
                    <div class="p-2">
                        <div style="text-align:center ; vertical-align:middle;">
                            <!-- <div id="newLoadingGif"
                                style="width:100%;height:0;padding-bottom:73%;position:relative; display: none;"><iframe
                                    src="https://giphy.com/embed/3y0oCOkdKKRi0" width="100%" height="100%"
                                    style="position:absolute" frameBorder="0" allowFullScreen></iframe>
                            </div> -->
                            <div id="newLoadingGif" style="display:none; width:100%;height:0;padding-bottom:178%;position:relative;">
                                <img class="mx-auto d-block" src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbWVjcnlpMDhvbzR3dm1yM3IyMTl4NTA4Mmoyc2lyNDZzaTJyeG12aCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/OQruJkvbAZYPDsCoGW/giphy.gif" alt="">
                            </div>

                            <div class="row imageCont" id="imageCont">
                                <!-- output will be displayed here after form submission -->
                                <div class="hero-media-container">
                                    <div class="col-lg-12 my-5">
                                        <img src="{% static 'dist/images/heroimage1.png' %}" class="img-responsive">
                                        <p class=" text-gray-100 text-lg mb-0 mt-2">Transform your sketch into a stunning, lifelike masterpiece. Fill the form on the left to get started!</p>
                                    </div>
                                </div> 
                            </div>
                            
                        </div>
                    </div>
                    <div class="mt-6 flex justify-between items-center">
                        <div>
                            <button id="resetForm"
                                class="py-2 px-4 text-sm font-bold text-gray-700 bg-gray-300 rounded hover:bg-gray-400">Reset</button>
                            <label for="submitBtn"
                                class="py-2 px-4 text-sm font-bold text-white bg-blue-500 rounded hover:bg-blue-600 ml-2">Submit</label>
                        </div>
                    </div>
                </div>
                <div class="text-xs text-white"> <span style="float: right;"> Brought to you by Mashud Ul Hassan | <a href="/accounts/logout"> Log Out
                </a>

                </div> <!-- Rest of the content... -->
            </div>
            <footer class="text-gray-100 text-xs text-center bg-gray-900 py-4">
                <a href="/" class="hover:underline"> Home </a> |
                <a href="https://github.com/m4hassan/sketchimggen" class="hover:underline"> About </a>
                | <a class="hover:underline"> Docs </a> |
                <!-- More links... -->
            </footer>
        </div>
</body>

<script type="text/javascript">
    const uploadForm = document.getElementById("uploadForm");
    // const submitBtn = document.getElementById("submitBtn");
    const loadingGif = document.getElementById("newLoadingGif");
    const resetForm = document.getElementById("resetForm");

    resetForm.addEventListener("click", function (e) {
        document.documentElement.scrollTop = 0;
        document.forms[0].reset()
        const container = document.querySelector(".imageCont");
        container.innerHTML = `<div class="hero-media-container">
                                    <div class="col-lg-12 my-5">
                                        <img src="{% static 'dist/images/heroimage1.png' %}" class="img-responsive">
                                        <p class=" text-gray-100 text-lg mb-0 mt-2">Transform your sketch into a stunning, lifelike masterpiece. Fill the form on the left to get started!</p>
                                    </div>
                                </div>`;
    });

    uploadForm.addEventListener("submit", function (e) {
        e.preventDefault();
        document.documentElement.scrollTop = 170;
        const container = document.querySelector(".imageCont");
        container.innerHTML = '';
        loadingGif.style.display = "block";
        const formData = new FormData(this);

        fetch("/stablediffuse/", {
            method: "POST",
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                const genImgContainer = document.querySelector(".imageCont");

                if (data.output_url) {

                    const html = `<div class="col-lg-12 my-5">
                    <img id="refreshdiv" src="${data.output_url}" class="img-responsive" alt="Please click the download button to fetch the generated image">
                    <button class="btn" style="color:whitesmoke"><a target="_blank" download='output' href="${data.output_url}"><i class="fa fa-download"></i> Download</a></button>
                    <button id="refresh" class="btn" style="color:whitesmoke"><i class="fa fa-refresh"></i> Refresh </button>
                    </div>`;
                    loadingGif.style.display = "none";
                    genImgContainer.innerHTML = html;

                } else if (data.error) {
                    console.log(data.error)
                    const html = `<div class="col-lg-12 my-5">
                    <img class="mx-auto d-block" src="https://casts.ask.fm/images/errors/account-disabled.gif" alt="Out of cash much?">
                    <h2 class="my-4" style="color:whitesmoke">Error: ${data.error} </h2>
                    </div>`;
                    loadingGif.style.display = "none";
                    genImgContainer.innerHTML = html;
                }

            })
            .catch(error => {
                console.log(error);
                console.error('js error: ', error);
                const container = document.querySelector(".imageCont");
                container.innerHTML = '<p>An error occurred. Please try again.</p>';
            });
    });
</script>
<script>
    $(document).ready(function() {
      $("#refresh").click(function() {
        $("#refreshdiv").load(window.location.href + " #refreshdiv");
      });
    });
  </script>

</html>