{% load static %}
<header class="site-header">
  <div class="container">
      <div class="site-header-inner">
          <div class="brand header-brand">
              <h1 class="m-0">
                  <a href="#">
      <img class="header-logo-image asset-light" src="{% static 'dist/images/logo-light.svg' %}" alt="Logo">
      <img class="header-logo-image asset-dark" src="{% static 'dist/images/logo-dark.svg' %}" alt="Logo">
                  </a>
              </h1>
          </div>
          <div class="header-links">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Work</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
          </div>
      </div>
  </div>
</header>